/**
 * Content
 * ----------------------------------------------------------------------------
 */
.post {
  margin-bottom: 3.33333em;
  position: relative;
}

.post-header {
  margin-bottom: 1.66667em;
}

.post-title {
  font-size: 2.66667rem;
  margin: 0 0 1.66667rem;

  a {
    border: 0;
    color: inherit;

    &:hover {
      color: _palette(accent);
    }
  }
}

.post-subtitle {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
}

.post-thumbnail {
  margin-bottom: 1.66667em;
  height: 150px;
  img {
    width: 100%;
    align-items: center;
  }
}

.post-meta {
  color: _palette(meta);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 1.66667rem;
  text-transform: uppercase;
}

/* Post feed */
.post-feed {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -0.83333em 1.66667em;

  .post {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1.66667em;
  }

  .post-inside {
    border: 1px solid _palette(border);
    border-radius: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 0.833333em;
  }

  .post-thumbnail {
    border: 0;
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      display: block;
      padding-top: 66.666%;
    }

    img {
      border-radius: 5px 5px 0 0;
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .post-header {
    margin-bottom: 0.83333rem;
    padding: 1.33333rem 1.33333rem 0;
  }

  .post-header + .post-thumbnail {
    padding-top: 0.83333rem;
  }

  .post-title {
    border-bottom: 1px solid _palette(border);
    font-size: 1.33333rem;
    margin: 0;
    padding-bottom: 0.83333rem;
  }

  .post-content {
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    padding: 0 1.33333rem;
  }

  .post-meta {
    margin: 0;
    padding: 0 1.33333rem 1.33333rem;
  }
}

@media only screen and (max-width: 1000px) {
  .post-feed {
    margin-left: -1.5vw;
    margin-right: -1.5vw;

    .post {
      margin-bottom: 3vw;
    }

    .post-inside {
      margin-left: 1.5vw;
      margin-right: 1.5vw;
    }
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px), only screen and (max-width: 600px) {
.post-feed .post {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

/* Pagination */
.pagination {
  padding: 0 70px 1.66667em;
  position: relative;
  text-align: center;
}

.page-number {
  color: _palette(meta);
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0.75em 0;
  text-transform: uppercase;
}

.newer-posts,
.older-posts {
  position: absolute;
  top: 0;
}

.older-posts {
  left: 0;
}

.newer-posts {
  right: 0;
}

/* Hero section */
.hero {
  margin-bottom: 2.5em;
}

.hero-title {
  font-size: 2.66667rem;
  margin: 0 0 1rem;
}

.hero-text {
  font-size: 1.33333rem;
  line-height: 1.5;
  margin: 0;
}

/* Content blocks */
.block {
  margin-bottom: 2em;
}

.block.read-next {
  margin-bottom: 3.33333em;
  margin-top: 2em;
}

.block-title {
  color: _palette(secondary);
  font-size: 1rem;
  letter-spacing: 0.11111em;
  margin: 0 0 1.66667rem;
  text-transform: uppercase;
}

.block-thumbnail {
  margin-bottom: 1.66667em;
  img {
    padding-right: 30px;
    width: 33.33%;
    float: left;
    max-width: 200px;
  }
}

.block-cta .button {
  margin-right: 15px;
}
//====================================================================
//Post Header=======================================================
// @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
.header-post{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:300px;
  max-height:350px;
  min-width:300px;
  color:#eee;
  
  font-family: 'Baloo Thambi 2', cursive;
}
.header-post a{
  color:#eee
}

.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:25% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.info h4, .meta{
  font-size:0.7em
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
//End Post header=======================================================

//sidebar==========================================================

.sidenav {
  width: 130px;
  position: fixed !important;
  z-index: 1;
  top: 20px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-right: 140px; /* Same width as the sidebar + left position in px */
  // font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
//end side bar ===========================================================

